@import url("https://fonts.googleapis.com/css?family=Roboto:500"); 

body {
    font-family: 'Roboto';
    color: #545454;
}

input {
    border: 1px solid #E4E4E4;
    border-radius: 2px;
}

input[type=text]:focus,
input[type=mail]:focus {
    box-shadow: 0 0 0 2px #88b8ff;
    border-radius: 2px;
}

.container {
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    margin: 55px auto;
}

.form_section_wrapper,
.profile_section_wrapper {
    width: 50%;
    margin: 0 15px;
    max-width: 570px;
    max-height: 600px;
}

.form,
.form_footer {
    position: relative;
    margin: 0 35px;
}

.form_title,
.profile_title {
    margin: 35px 0 20px 0;
    font-size: 24px;
    font-weight: 500;
}

.user_name,
.profile_name,
.profile_pass {
    display: flex;
    justify-content: space-between;
}

.form_input_title,
.profile_input_title {
    font-size: 15px;
    flex-basis: 48%;
    margin: 10px 0;
}

.form_input_first_name,
.form_input_last_name,
.profile_input_name,
.profile_input_pass,
.profile_input_tel
{
    font-size: 13px;
    width: 100%;
    margin: 10px 0 0 0;
    height: 40px;
}

.form_input_email,
.profile_input_email {
    width: 100%;
    margin: 10px 0;
    font-size: 13px;
    height: 40px;
}

.form_email_text {
    font-size: 13px;
    color: #969696;
}

.user_sex {
    display: flex;
}

.form_sex_radio {
    display: flex;
    margin: 20px 10px 20px 0;
    font-size: 15px;
}

.form_input_sex {
    font-size: 15px;
    order: -1;
}

.user_geo,
.profile_geo {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.user_country,
.user_city,
.profile_country,
.profile_city {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: 48%;
}

.form_select_input_city,
.profile_select_input_city {
    margin: 10px 0 0 0;
    background:transparent;
    height: 40px;
    width: 100%;
}

.form_select_country_list,
.profile_select_country_list {
    margin: 10px 0 0 0;
    height: 40px;
    font-size: 15px;
}

.form_select_country_span {
    position: absolute;
    top: 38px;
}

option {
    background:#82beff;
}

option[disabled] {
    background: #ba2020
}

.user_geo::after,
.profile_geo::after {
    content: '';
    position: absolute;
    top: 20px;
    left: 225px;
    background:url(../img/icons/arrow_3_Double.png) no-repeat right;
    width: 15px;
    height: 45px;
}
    
.form_button,
.profile_button {
    width: 100%;
    height: 50px;
    margin: 20px 0;
    background: #007BFF;
    color:#FFF;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
}

.form_button:hover {
    cursor: pointer;
}

.form_footer {
    margin: 0 0 70px 0;
}

.form::after {
    content: "";
    position: absolute;
    background: #E4E4E4;
    height: 1px;
    bottom: -70px;
    left: 0;
    width: 100%;
}

.form_footer_text {
    text-align: center;
    margin: 0 100px 40px;
    font-size: 13px;
    color: #969696;
}

.form_footer_text_link,
.form_footer_link_link {
    color: #007BFF;
}

.form_footer_link {
    display: flex;
    justify-content: center;    
}

.form_footer_link_link {
    margin: 0 20px 0;
}

/* *********PROFILE********** */
.profile_image {
    display: flex;
    flex-basis: 50%;
    position: relative;
    margin: 0 0 20px 0;
}

.profile_photo_btn_hidden {
    opacity: 0;
    width: 140px;
    height: 30px;
    margin: 0 40px 15px 10px;
}

.profile_load__button {
    position: absolute;
    min-width: 150px;
    height: 30px;
    top: 0;
    left: 90px;
    border: 1px solid #E4E4E4;
    border-radius: 2px;
}

.profile_load_btn_img {
    position: relative;
    top: 7px;
    left: 115px;
}

.profile_photo_delete_btn {
    width: 30px;
    height: 30px;
    background: url(../img/icons/icon_delete.svg) no-repeat center;
    border: 1px solid #E4E4E4;
    border-radius: 2px;
}

.profile_load_text {
    position: absolute;
    top: 45px;
    left: 0;
    font-size: 13px;
}

.profile_geo::after {
    left: 259px
}

.profile_button {
    width: 30%;
}
